.openSans {
    font-family: 'Open Sans', sans-serif;
}
.bg-image{
    height: 40rem;
    max-width: 100%;
    background-image: url(https://static.wixstatic.com/media/79aa4c_d597478417be450da139fcc0e1e34adc~mv2.gif);
    background-attachment: fixed;
    background-size: cover;
}